<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<div layout:fragment="body">
  <!-- access denied Text -->
  <div class="text-center">
    <div class="error mx-auto" data-text="403">403</div>
    <p class="lead text-gray-800 mb-5">acesso negado</p>
    <p class="text-gray-500 mb-0">Parece que voce não tem permição para acessar esse conteudo</p>
    <a href="index.html">&larr; Back to Dashboard</a>
  </div>
</div>

</body>
</html>