<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>

        <div th:replace="fragments/head-imports::scripts"></div>
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-2">Esqueceu sua senha?</h1>
                                            <p class="mb-4">Confirme seu Email que enviaremos um link para você recuperar sua senha!</p>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                       id="exampleInputEmail" aria-describedby="emailHelp"
                                                       placeholder="Digite seu endereço de email...">
                                            </div>
                                            <a th:href="@{/account/password-recovery}" class="btn btn-primary btn-user btn-block">Recupere sua Senha</a>

                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" th:href="@{/account/sign-up}">Crie uma conta!</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" th:href="@{/account/sign-in}">Já posssui conta? Faça o login!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div th:replace="fragments/footer-imports::scripts">


    </body>
</html>